<h1>Household Profile</h1>

<h3 id="userGreeting"></h3>

<span>Add Child</span><span id="plusButton" ng-click="addChild = !addChild">+</span>

<form ng-submit="registerChild()" ng-show="addChild" class="slideIn">
  <label for="name">Name</label>
  <input id="childName" type="text" name="name" value="" class="form-control" ng-model="name">
  <label for="username">Username</label>
  <input id="childUsername" type="text" name="username" value="" class="form-control" ng-model="username">
  <label for="password">Password</label>
  <input id="childPassword" type="text" name="password" value="" class="form-control" ng-model="password">
  <input id="childButton" type="submit" value="REGISTER" class="btn btn-success btn-lg">
</form>

<div class="registerInfo"></div>

<div class="childBlock" ng-repeat="obj in children">
    {{obj.name}}
</div>

</div>

<footer>
  <ul>
    <li>Profile</li>
    <li>Tasks</li>
    <li>Rewards</li>
  </ul>
</footer>
